<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBQ7AJdrMsDwrxQ38om_6L6PY21nA7QfcM</string>
	<key>GCM_SENDER_ID</key>
	<string>737052667709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>GAF.UANL</string>
	<key>PROJECT_ID</key>
	<string>bimbosis</string>
	<key>STORAGE_BUCKET</key>
	<string>bimbosis.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737052667709:ios:7c38074d4cd0faae761f54</string>
</dict>
</plist>